*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}




body{
background: #080808  ;
color: #fff;

}
.logo{
    color: #ff004f;
    font-size: 30px;
}

#header{
width: 100%;
height: 100vh;
background-image: url(images/bhu.jpeg);
background-size: cover;
background-position: center;
}

.container{
    padding: 10px 10%;
    /* position: relative;
    left: 1500px; */
}
.text span{
font-size: 14px;
}




.worklist{
    display: flex;
    flex-direction: row;
}
.card {
    perspective: 1000px;
}
.card-inner {
    width: 100%;
    height: 250px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}
.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-back {
    background: #262626;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.clickme{
    font-size: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
color: aliceblue;
text-decoration: none;
font-size: 18px;
position: relative;
    
}

nav ul li a::after{
content: '';
width: 0px;
height: 3px;
background: #ff004f;
position: absolute;
left: 0px;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after
{
width: 100%;
color: red;
}

.header-text{
    margin-top: 20px;
    font-size: 30px;
}


.header-text h1{
font-size: 60px;
margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/*about-me*/

#about{

    padding: 80px 0;
    color: #ababab;

}

.row{
  display: flex;  
justify-content: space-between;
flex-wrap: wrap;
}

.aboutcol1{
    flex-basis: 35%;
}

.aboutcol1 img{
    width: 100%;
    border-radius: 15px;
}

.aboutcol2{
    flex-basis: 60%;

}
.sub{
    font-size: 14px;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tabtitles{
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after{
content: '';
width: 0px;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;

}
.tablinks.activelink::after{
width: 50%;

}
.tabcontents ul li{
list-style: none;
margin: 10px 0px;
}

.tabcontents ul li span{
    color: #ff004f;
    font-size: 16px;
}
.tabcontents{
    display: none;
}
.tabcontents.activetab{
    display: block;
}


/* Sercies */

#services{
    padding: 30px 0;

}

.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.serviceslist div{
    background: #262626;;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}
.serviceslist div:hover{
    background: #ff004f;
    transform: translateY(-10px);

}
.serviceslist div i{
    font-size: 50px;
    margin-bottom:30px ;
}
.serviceslist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.serviceslist div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

#portfolio{

padding:50px 0 ;

}
.clone{
    height: 250px;
    width: 500px;
   
  
}
.work a{
    text-decoration: none;
    font-size: 40px;
    color: wheat;

}


.work p{
    margin-top: 20px;
    font-size: 20px;
}

.worklist{
    display: flex;
    margin-left: 30px;
    

}


.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



.contactleft{
    flex-basis: 35%;


}

.contactright{
    flex-basis: 50%;
}

.contactleft p{
margin-top: 30px;

}

.contactleft p i{
  color: #ff004f;  
  margin-right: 15px;
  font-size: 25px;
}

.socialicons{
margin-top: 30px;

}

.socialicons a{
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #ababab;
display: inline-block;
transition: transform 0.5s;

}
.socialicons a:hover{

    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{

    display: inline-block;
    background:#ff004f;
    color: aliceblue;
    width: 130px;
    height: 30px;
    margin-top: 30px;
    
}
.btn.btn2 span{
   position: relative;
   left: 18px;
}

.contactright form{
width: 100%;
}

form input, form textarea{
    width: 100%;

    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    background: #ababab
}
form .btn2{
    
    font-size: 18px;
    cursor: pointer;
}

nav .fas
{
    display: none;
}
.design{
    color: #ff004f;
}
.text{
    margin-top: 32%;
    color: #ff004f;
}
.new{
    height: 140px;
    width: 140px;
}
.newtxt{
    position: relative;
    top: 20px;
}

#header h1, #about h1, #services h1 , #portfolio h1,#contact h1 {
    color: #ff004f;
    

}
.bhuone{
    color: #ff004f;
}


@media only screen and (max-width: 600px){
    #header {
        background-image: url(images/new.jpeg);
    }

    
.text {
        position: relative;
        top: -20px;
        font-size: 18px;
        text-align: center;
    }
   

    .header-text h2{
        position: relative;
        left: 100px;
       font-size: 20px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;
        text-align: center;
    }

    .aboutcol1, .aboutcol2 {
        flex-basis: 100%;
        text-align: center;
    }

    .aboutcol1 {
        margin-bottom: 30px;
    }

    .aboutcol2 {
        font-size: 14px;
    }

    .tablinks {
        font-size: 16px;
        margin-right: 20px;
    }

    .tabtitles {
        justify-content: center;
        flex-wrap: wrap;
    }

    .serviceslist {
        grid-template-columns: 1fr;
    }

    .worklist {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .card-inner {
        height: 200px;
    }

    .contactleft, .contactright {
        flex-basis: 100%;
    }

    

    .bhuwan {
        position: relative;
        top: 140px;
        text-align: center;
    }

    .header-text h5 {
        font-size: 20px;
    }

    .container {
        padding: 10px 5%;
    }

    .socialicons {
        text-align: center;
    }

    .socialicons a {
        margin: 10px;
    }

    .btn.btn2 {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

    form input, form textarea {
        font-size: 16px;
        padding: 12px;
    }

    .work a {
        font-size: 24px;
    }

    .work p {
        font-size: 16px;
    }

    .clone {
        width: 100%;
        height: auto;
    }
}
